.layout {
  min-height: 100vh !important;
}

.title {
  color: white !important;
  line-height: unset !important;
}

.content {
  background: white;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
